.list-bottom_header {
  width: 100%;
  display: flex;
  justify-content: center;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;
}
.list-bottom_container {
  display: flex;
  flex-direction: column;
  background-color: #ECE5E5;
  padding: 20px;
  width: 900px;
}

.list-bottom_task {
  display: flex;
  align-items: center;
  background-color: #C4C4C4;
  margin-bottom: 20px;
  padding: 5px;
  min-height: 30px;
}

.list-bottom_task:hover {
  background-color: #e2d7d7;
}

.list-bottom_task-number {
  margin-right: 20px;
}

.list-bottom_save_hidden {
  display: none;
}
 
.list-bottom_delete {
  color: red;
  cursor: pointer;
  margin-left: 20px;
}

.list-bottom_btn {
  text-align: right;
  background-color: #C4C4C4;
  height: 30px;
  margin-top: 10px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-bottom_btn:hover{
  background-color: #ECE5E5;
  cursor: pointer;
}